$font-family-medium: "Gotham", sans-serif
$font-family-light: "Gotham Pro", sans-serif
$container-background-color: #fff
$app-background-color: #fafafa
$green-font-color:#279150
$title-font-color: #4c494b
$sub-font-color: #b2afb1
$shadow-color: black

@font-face
    font-family: "Gotham"
    src: url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.eot")
    src: url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham") format("svg")

@font-face 
    font-family: "Gotham Pro" 
    src: url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.eot") 
    src: url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.woff") format("woff"), url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/056353a27c68233bab7e618c8b191d65.svg#Gotham Pro") format("svg")

@mixin box-shadow($shadow...)
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    box-shadow: $shadow

@mixin center-align($width: null, $height: null)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


@mixin left-alignment-adjustment()
    padding-left: 8%

@mixin title-font-control()
    font-family: $font-family-medium
    font-weight: 500
    color: $title-font-color
    font-size: 2.5rem
    letter-spacing: -0.1rem
    
    
@mixin sub-font-control()
    font-family: $font-family-light
    color: $sub-font-color
    letter-spacing: -0.03rem

@mixin font-size-control($mobile-size)
    @media(max-width: 600px)
        font-size: $mobile-size
    @media(max-width: 1200px)
        font-size: $mobile-size * 1.3

*
    margin: 0
    padding: 0
    

.App
    background-color: $app-background-color
    width: 100vw
    height: 100vh
    overflow: hidden

.content-container
    @include box-shadow(0px 0px 4px rgba($shadow-color, .1))
    @include center-align($width: 100vw , $height: 100vh)
    background-color: $container-background-color
    font-size: calc(10px + 2vmin)
    width: 35%
    height: max-content
    min-width: 22rem
    @media(max-width: 600px)
        width: 90%
    @media(max-width: 1200px)
        width: 60%

    .logo
        @include left-alignment-adjustment()
        width: 20%
        padding-top: 10%
        display: block

        > img
            width:100%

    .title
        @include left-alignment-adjustment()
        @include title-font-control()
        @include font-size-control(1.1rem)
        padding-top: 4%
        position: relative

    .sub-title
        @include left-alignment-adjustment()
        @include sub-font-control()
        @include font-size-control(0.6rem)
        padding-top: 1%
        position: relative
        font-size: 1.3rem
        font-weight: 100

    .email-address-container
        @include left-alignment-adjustment()
        padding-top: 10%

        .email-address-title
            @include sub-font-control()
            @include font-size-control(0.6rem)
            display: block
            position: relative
            font-size: 1rem
            font-weight: 500
            padding-bottom: 1.5%

        .email-address-form
            @include sub-font-control()
            color: $title-font-color
            width: 84%
            display: block
            padding: 1rem 1rem
            border-radius: 5px
            border: 1px solid lightGrey
            &:hover, &:focus
                border-color: $green-font-color 
                outline-color: $green-font-color

    .email-address-actions
        @include sub-font-control()
        @include font-size-control(0.8rem)
        position: relative
        padding-top: 1.5%
        font-size: 0.9rem
        font-weight: 200
        color: $title-font-color

        > input[type="checkbox"]
            width: 1.1rem
            height:1.1rem
            display: inline-block
            vertical-align: middle
            cursor: pointer
            
        .email-address-checkbox-label
            padding-left: 1%
            display: inline-block
            vertical-align: middle
            @include font-size-control(0.6rem)

    .sign-in-button
        @include sub-font-control()
        color: $title-font-color
        position: relative
        padding: 0.9rem 2rem
        margin-top: 12%
        margin-bottom: 8%
        left: 8%
        background-color: $container-background-color
        border-radius: 5px
        border: 1px solid lightGrey
        font-size: 1.1rem
        transition: color 0.3s, background-color 0.3s
        cursor: pointer
        &:hover
            background-color: $green-font-color
            color: $container-background-color


    


    
